<!DOCTYPE html>
<html lang="en">
  <head>
    <title>seven</title>
    <meta name="description" content="seven">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        seven
      </h1>
      <p>
        <a href="//adventofcode.com/2018/day/7">adventofcode.com/2018/day/7</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <form method="POST" action="/day07part1">
        <textarea id="input1" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/7/input" target="_blank" class="get-input">get input</a>
        <code id="part1"></code>
        <!-- <input type="submit" /> -->
      </form>
      <hr />
      <h2>
        part 2
      </h2>
      <form method="POST" action="/day07part2">
        <textarea id="input2" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/7/input" target="_blank" class="get-input">get input</a>
        <code id="part2"></code>
        <!-- <input type="submit" /> -->
      </form>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script>
      const input1 = document.getElementById("input1");
      const part1 = document.getElementById('part1');
      const parse = /Step (\w) must be finished before step (\w) can begin/;
      
      input1.addEventListener("change", ev => {
        console.time("part1");
        const data1 = input1.value.trim().split("\n");
        const steps = data1.map(step => {
          let match = step.match(parse);
          return { step: match[1], goesBefore: match[2] };
        });
        //const ordered = steps.reduce((items, step) => {
        //  return items;
        //}, []);
        
        //find boundaries
        let start = steps.filter(s1 => {
          return (steps.filter(s2 => s2.goesBefore === s1.step).length === 0);
        })[0].step;
        //console.log(start);
        
        let end = steps.filter(s1 => {
          return (steps.filter(s2 => s2.step === s1.goesBefore).length === 0);
        })[0].goesBefore;
        //console.log(end);
        
        let sorted = [start, end];
        /*
        const sorter = function (step) {
          let nextStep = steps.find(s => s.step === step.goesBefore);
          console.info(step, nextStep);
          if (nextStep) {
            let index = sorted.findIndex(s => s === step.step);
            sorted.splice(index + 1, 0, nextStep.step);
            sorter(nextStep);
          }
          return;
        };
        sorter(steps[0]);
        */
        const sorter2 = function (letter) {
          let nextLetters = steps.filter(s => s.step === letter).map(s => s.goesBefore).sort();
          //console.log(nextLetters);
          if (nextLetters.length > 0) {
            let letterIndex = sorted.findIndex(l => l === letter);
            nextLetters.forEach(l => {
              if (sorted.indexOf(l) === -1) {
                letterIndex++;
                sorted.splice(letterIndex, 0, l);
              }
            });
            nextLetters.forEach(sorter2);
          }
          return;
        };
        sorter2(start);
        //console.log(sorted);
        
        // not GHAIJZTEDRSKQUWYLNBOPX
        part1.innerText = sorted.join("");
        console.timeEnd("part1");
      });
      
      const input2 = document.getElementById("input2");
      const part2 = document.getElementById('part2');
      
      input2.addEventListener("change", ev => {
        console.time("part2");
        const data2 = input2.value.trim().split("\n");

        part2.innerText = "todo";
        console.timeEnd("part2");
      });
      
    </script>

    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>