<!DOCTYPE html>
<html lang="en">
  <head>
    <title>seven</title>
    <meta name="description" content="seven">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/day06" title="previous" rel="prev">⬅</a> <a href="/" title="up">⬆</a> <a href="/day08" title="next" rel="next">➡</a>
      </nav>
      <h1>
        seven
      </h1>
      <p>
        <a href="//adventofcode.com/2018/day/7">adventofcode.com/2018/day/7</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <form method="POST" action="/day07part1">
        <textarea id="input1" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/7/input" target="_blank" class="get-input">get input</a>
        <code id="part1"></code>
        <!-- <input type="submit" /> -->
      </form>
      <hr />
      <h2>
        part 2
      </h2>
      <form method="POST" action="/day07part2">
        <textarea id="input2" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/7/input" target="_blank" class="get-input">get input</a>
        <code id="part2"></code>
        <!-- <input type="submit" /> -->
      </form>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script>
      const input1 = document.getElementById("input1");
      const part1 = document.getElementById('part1');
      const parse = /Step (\w) must be finished before step (\w) can begin/;
      const move = function(arr, from, to) {
        arr.splice(to, 0, arr.splice(from, 1)[0]);
      };
      
      input1.addEventListener("change", ev => {
        console.time("part1");
        const data1 = input1.value.trim().split("\n");
        
        const all_steps = data1.map(step => {
          let match = step.match(parse);
          return [ match[1], match[2] ];
        });
        let sorted = [];
        
        let remaining_steps = all_steps.slice();
        
        while (remaining_steps.length > 0) {
          // find [from] not in [to]
          const found = remaining_steps.filter(a => remaining_steps.every(b => b[1] !== a[0]))
            // get [from]
            .map(s => s[0])
            //sort alpha, return first item
            .sort()[0];

          // sorted.push found
          sorted.push(found);
          
          //console.log(found, remaining_steps.filter(s => s[0] === found));
          // remove found from [ from, to ]
          remaining_steps.forEach((s, idx) => {
            // & switch pairs to be [ to, null ]
              if (s[0] === found) {
                //console.log(idx);
                remaining_steps[idx] = [ s[1], null ];
              }
          });
  
          // if any steps are null/null, remove them
          var nullIndex = remaining_steps.findIndex(s => s[0] === null && s[1] === null);
          while (nullIndex > -1) {
            remaining_steps.splice(nullIndex, 1);
            nullIndex = remaining_steps.findIndex(s => s[0] === null && s[1] === null);
          }
          
          //console.log(sorted, remaining_steps);
          //break;
        }

        // test
        all_steps.forEach(s => {
          console.info(s, sorted.indexOf(s[0]), sorted.indexOf(s[1]));
          console.assert(sorted.indexOf(s[0]) < sorted.indexOf(s[1]), "bad step");
        });
        
        // not GHAIJZTEDRSKQUWYLNBOPX
        ////// CFGMVHNPAEWBRDIZQUSJYTKLOX 
        part1.innerText = sorted.join("");
        console.timeEnd("part1");
      });
      
      const input2 = document.getElementById("input2");
      const part2 = document.getElementById('part2');
      
      input2.addEventListener("change", ev => {
        console.time("part2");
        const data2 = input2.value.trim().split("\n");

        part2.innerText = "todo";
        console.timeEnd("part2");
      });
      
    </script>

    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>