<!DOCTYPE html>
<html lang="en">
  <head>
    <title>nine</title>
    <meta name="description" content="nine">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/day08" title="previous" rel="prev">⬅</a> 
        <a href="/" title="up">⬆</a> 
        <a href="/day10" title="next" rel="next">➡</a>
      </nav>
      <h1>
        nine
      </h1>
      <p>
        <a href="//adventofcode.com/2018/day/9">adventofcode.com/2018/day/9</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <form method="POST" action="/day09part1">
        <textarea id="input1" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/9/input" target="_blank" class="get-input">get input</a>
        <code id="part1"></code>
        <!-- <input type="submit" /> -->
      </form>
      <hr />
      <h2>
        part 2
      </h2>
      <form method="POST" action="/day09part2">
        <textarea id="input2" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/9/input" target="_blank" class="get-input">get input</a>
        <code id="part2"></code>
        <!-- <input type="submit" /> -->
      </form>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script>
      const input1 = document.getElementById("input1");
      const part1 = document.getElementById('part1');
      const parse = /(\d+) players; last marble is worth (\d+) points/;
      
      input1.addEventListener("change", ev => {
        console.time("part1");
        const data1 = input1.value.trim();
        
        const parsed = data1.match(parse).map(Number);
        const playerCount = parsed[1];
        const last = parsed[2];
        const MAGIC_MULTIPLE = 23;
        const MAGIC_INDEX = 7;
        
        let marbles = [0];
        let currentMarbleIndex = 1;
        let currentMarbleScore = 0;
        let players = new Array(playerCount).fill(0);
        let currentPlayerIndex = 0;
        
        while (currentMarbleScore <= last) {
          currentMarbleScore++;
          
          if (currentMarbleScore % MAGIC_MULTIPLE === 0) {
            // adjust with magic
            currentMarbleIndex -= MAGIC_INDEX;
            // account for wrapping
            currentMarbleIndex = currentMarbleIndex < 0 ? marbles.length + currentMarbleIndex : currentMarbleIndex;
            // score for player
            players[currentPlayerIndex] += currentMarbleScore;
            players[currentPlayerIndex] += marbles[currentMarbleIndex];
            //console.log(currentMarbleScore, marbles[currentMarbleIndex]);
            // remove marble
            marbles.splice(currentMarbleIndex, 1);
          } else {
            marbles.splice(currentMarbleIndex, 0, currentMarbleScore);
          }
          
          /*
          console.log(currentPlayerIndex, marbles.reduce((str, mrb, idx) => {
            if (idx > 0) str += " ";
            if (idx === currentMarbleIndex) str += "("; 
            str += mrb;
            if (idx === currentMarbleIndex) str += ")";
            return str;
          }, ""), currentMarbleIndex);
          */
          
          if ((currentMarbleScore + 1) % MAGIC_MULTIPLE !== 0) {
            currentMarbleIndex = ((currentMarbleIndex + 1) % marbles.length) + 1;
          }
          // set next current player
          currentPlayerIndex = (currentPlayerIndex + 1) % playerCount;
        }
        //console.log(marbles, players);
        
        // 9 players; last marble is worth 25 points
        // 23+9=32
        const top = Math.max(...players);
        
        part1.innerText = top;
        console.timeEnd("part1");
      });
      
      const input2 = document.getElementById("input2");
      const part2 = document.getElementById('part2');
      
      input2.addEventListener("change", ev => {
        console.time("part2");
        const data2 = input2.value.trim();
        
        part2.innerText = "todo";
        console.timeEnd("part2");
      });
      
    </script>

    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>