<!DOCTYPE html>
<html lang="en">
  <head>
    <title>three</title>
    <meta name="description" content="three">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        three
      </h1>
      <p>
        <a href="//adventofcode.com/2018/day/3">adventofcode.com/2018/day/3</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <form method="POST" action="/day03part1">
        <textarea id="input1" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <code id="part1"></code>
        <input type="submit" />
      </form>
      <hr />
      <h2>
        part 2
      </h2>
      <form method="POST" action="/day03part2">
        <textarea id="input2" name="input" placeholder="input" cols="40" rows="5"></textarea>   
        <code id="part2"></code>
        <input type="submit" />
      </form>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script>
      const input1 = document.getElementById("input1");
      const part1 = document.getElementById('part1');
      const parse = /\#(\d+)\s\@\s(\d+),(\d+):\s(\d+)x(\d+)/;
      //                1          2     3       4     5
      input1.addEventListener("change", ev => {
        const data1 = input1.value.trim().split("\n").map(o => {
          let match = o.match(parse);
          return {
            id: parseInt(match[1], 10),
            x: parseInt(match[2], 10),
            y: parseInt(match[3], 10),
            w: parseInt(match[4], 10),
            h: parseInt(match[5], 10)
          };
        });
        
        const plot = data1.reduce((p, o) => {
          let y = o.y + 1,
              x = o.x + 1;
          
          for (let h = y, hh = y + o.h; h < hh; h++) {
            for (let w = x, ww = x + o.w; w < ww; w++) {
              if (!p[h]) {
                p[h] = [];
              }
              if (!p[h][w]) {
                p[h][w] = 1
              } else {
                p[h][w]++;
              }
            }
          }

          return p;
        }, []);
        
        const conflict = plot.reduce((c, a) => {
          a.forEach((p) => {
            if (p > 1) {
              c++;
            }
          });

          return c;
        }, 0);
        
        part1.innerText = conflict;
      });
      
      const input2 = document.getElementById("input2");
      const part2 = document.getElementById('part2');
      input2.addEventListener("change", ev => {
        const data2 = input2.value.trim().split("\n").map(o => {
          let match = o.match(parse);
          return {
            id: parseInt(match[1], 10),
            x: parseInt(match[2], 10),
            y: parseInt(match[3], 10),
            w: parseInt(match[4], 10),
            h: parseInt(match[5], 10),
            hasConflict: false
          };
        });
        
        const plot = data2.reduce((p, o) => {
          let y = o.y + 1,
              x = o.x + 1;
          
          for (let h = y, hh = y + o.h; h < hh; h++) {
            for (let w = x, ww = x + o.w; w < ww; w++) {
              if (!p[h]) {
                p[h] = [];
              }
              if (!p[h][w]) {
                p[h][w] = o.id
              } else {
                data2.filter(oo => {
                  return (oo.id === p[h][w]);
                })[0].hasConflict = true;
                p[h][w] = o.id;
                o.hasConflict = true;
              }
            }
          }

          return p;
        }, []);
        
        const noConflict = data2.filter(o => { return !o.hasConflict; });
        
        part2.innerText = noConflict[0].id;
      });
      
    </script>

    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>