<!DOCTYPE html>
<html lang="en">
  <head>
    <title>three</title>
    <meta name="description" content="three">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        three
      </h1>
      <p>
        <a href="/adventofcode.com/2018/day/3">adventofcode.com/2018/day/3</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <form method="POST" action="/day03part1">
        <textarea id="input1" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <code id="part1"></code>
        <input type="submit" />
      </form>
      <hr />
      <h2>
        part 2
      </h2>
      <form method="POST" action="/day03part2">
        <textarea id="input2" name="input" placeholder="input" cols="40" rows="5"></textarea>   
        <code id="part2"></code>
        <input type="submit" />
      </form>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script>
      const input1 = document.getElementById("input1");
      const part1 = document.getElementById('part1');
      input1.addEventListener("change", ev => {
        const data1 = input1.value.trim().split("\n");
        
        part1.innerText = "TODO:"
      });
      
      const input2 = document.getElementById("input2");
      const part2 = document.getElementById('part2');
      input2.addEventListener("change", ev => {
        const data2 = input2.value.trim().split("\n");
        
        part2.innerText = "TODO:";
      });
      
    </script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>