<!DOCTYPE html>
<html lang="en">
  <head>
    <title>one</title>
    <meta name="description" content="one">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        one
      </h1>
      <p>
        <a href="https://adventofcode.com/2018/day/1">https://adventofcode.com/2018/day/1</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <textarea id="input1" placeholder="input"></textarea>
      <a href="https://adventofcode.com/2018/day/1/input" target="_blank" class="get-input">get input</a>
      <code id="part1"></code>
        <!-- <input type="submit" /> -->
      <hr />
      <h2>
        part 2
      </h2>
      <textarea id="input2" placeholder="input"></textarea>   
      <a href="https://adventofcode.com/2018/day/1/input" target="_blank" class="get-input">get input</a>
      <code id="part2"></code>
        <!-- <input type="submit" /> -->
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <script src="/client.js"></script>
    <script>
      input1.addEventListener("change", ev => {
        console.time("part1");
        /* ***************** WARNING: NEVER USE! ******************** */
        part1.innerText = eval(input1.value);
        //                ^-- this is bad, don't ever do this
        console.timeEnd("part1");
      });
      
      input2.addEventListener("change", ev => {
        console.time("part2");
        var i = 0, 
            current = 0, 
            freqs = {}, 
            data2 = input2.value.trim().split('\n').map(v => parseInt(v, 10));
        
        while(!freqs['x'+current]) {
          freqs['x'+current] = 1;
          current += data2[i];
          i += 1;
          i = i % data2.length;
        }
        
        part2.innerText = current;
        console.timeEnd("part2");
      });
      
    </script>
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>