<!DOCTYPE html>
<html lang="en">
  <head>
    <title>twelve</title>
    <meta name="description" content="twelve">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/day11" title="previous" rel="prev">⬅</a> 
        <a href="/" title="up">⬆</a> 
        <a href="/day13" title="next" rel="next">➡</a>
      </nav>
      <h1>
        twelve
      </h1>
      <p>
        <a href="//adventofcode.com/2018/day/12">adventofcode.com/2018/day/12</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <form method="POST" action="/day12part1">
        <textarea id="input1" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/12/input" target="_blank" class="get-input">get input</a>
        <code id="part1"></code>
        <!-- <input type="submit" /> -->
      </form>
      <hr />
      <h2>
        part 2
      </h2>
      <form method="POST" action="/day12part2">
        <textarea id="input2" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/12/input" target="_blank" class="get-input">get input</a>
        <code id="part2"></code>
        <input type="submit" />
      </form>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script>
      const input1 = document.getElementById("input1");
      const part1 = document.getElementById('part1');
      
      const state = /initial state: ([\#\.]+)/;
      const rule = /([\#\.]{5}) =\> ([\#\.])/;
      const plants = /\#/g;
      //const empties = /^(\.+)[\#\.]*\#(\.+)$/;
      const emptyEnds = /^\.+|\.+$/g;
      
      const emptyFirst = /^(\.+)/g;
      const emptyLast = /\.+$/g;
            
      input1.addEventListener("change", ev => {
        console.time("part1");
        const data1 = input1.value.trim().split("\n");
        
        const gens = 20;
        
        let current = data1[0].match(state)[1];
        //console.log(data1.slice(2));
        let rules = data1.slice(2).map(r => {
          let parsed = r.match(rule);
          return {
            pattern: parsed[1],
            replacement: parsed[2],
          };
        });
        
        let pots = current.match(plants).length;
        console.log(0, current, pots);
        
        let indexOfPots = 0;
        let left = 0;
        
        for (let i = 0; i < gens; i++) {
          // pad with enough empties to match patterns
          //let ends = current.match(empties);
          //let start = (ends && ends.length > 1) ? ends[1].length : 0;
          //let end = (ends && ends.length > 2) ? ends[2].length : 0;
          //if (start < 5) {
          //  current = ".".repeat(5 - start) + current;
          //}
          //if (start < 5) {
          //  current += ".".repeat(5 - end);
          //}
          current = "...." + current /*.replace(emptyEnds, '')*/ + "....";
          left -= 4;
          
          let next = ".".repeat(current.length).split("");
          
          rules.forEach(r => {
            for (let c = current.indexOf("#")-2, l = current.lastIndexOf("#")+2; c <= l; c++) {
              //let lpad = c === 0 ? ".." : c === 1 ? "." : "";
              //let rpad = c === l - 1 ? ".." : c === l - 2 ? "." : "";
              //let start = c === 0 || c === 1 ? 0 : c - 2;
              //let end = c === l - 1 ||c === l - 2 ? l - 1 : c + 2;
              let sub = current.substring(c - 2, c + 3);
              //console.log(c, sub, r.pattern, sub === r.pattern)
              if (sub === r.pattern) {
                next[c] = r.replacement;
                //console.log(c, next);
              //} else {
                //next[c] = current[c];
              }
            }
          });
          
          // sum of indexes
          next.forEach((n, i) => {
            if (n === "#") {
              indexOfPots += (i + left);
            }
          });
          
          next = next.join("");
          
          //plant count
          let m = next.match(plants);
          let potcount = m !== null ? m.length : 0;
          pots += potcount;
          
          current = next;

          console.log(i+1, current, potcount, pots, left, indexOfPots);
        }
        
        let lastIndex = current.split("").reduce((total, n, i) => {
            if (n === "#") {
              total += (i + left);
            }
          return total;
        }, 0);
        
        // not 928, too low
        part1.innerText = lastIndex;
        
        console.timeEnd("part1");
      });
      
      const input2 = document.getElementById("input2");
      const part2 = document.getElementById('part2');
      
      input2.addEventListener("change", ev => {
        /*
        console.time("part2");
        const data2 = input2.value.trim().split("\n");
        
        // figure out how many generations it takes to repeat starting pattern?
        const gens = 50000000000;
        // then mod by repeat amount
        
        let initial = data2[0].match(state)[1];
        let current = initial

        let rules = data2.slice(2).map(r => {
          let parsed = r.match(rule);
          return {
            pattern: parsed[1],
            replacement: parsed[2],
          };
        });
                
        let left = 0;
        
        for (let i = 0; i < gens; i++) {
          // adjust dots & left starting index
          let predots = current.match(emptyFirst);
          if (predots !== null && predots.length === 2) {
            left += predots[1].length;
            left -= 4;
            current = "...." + current.replace(emptyFirst, "");
          }
          current = current.replace(emptyLast, "") + "....";
          
          let next = ".".repeat(current.length).split("");
          
          rules.forEach(r => {
            for (let c = current.indexOf("#")-2, l = current.lastIndexOf("#")+2; c <= l; c++) {
              let sub = current.substring(c - 2, c + 3);
              if (sub === r.pattern) {
                next[c] = r.replacement;
              }
            }
          });
                    
          next = next.join("");
          current = next;
          if (current.indexOf(initial) > -1) {
            console.log("repeating at " + i);
            break;
          }
        }
        
        let lastIndex = current.split("").reduce((total, n, i) => {
            if (n === "#") {
              total += (i + left);
            }
          return total;
        }, 0);
        
        part2.innerText = lastIndex;
        console.timeEnd("part2");
        */
        part2.innerText = "click the button and watch the server console";
      });
      
    </script>

    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>