<!DOCTYPE html>
<html lang="en">
  <head>
    <title>fourteen</title>
    <meta name="description" content="fourteen">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/day13" title="previous" rel="prev">⬅</a> 
        <a href="/" title="up">⬆</a> 
        <a href="/day15" title="next" rel="next">➡</a>
      </nav>
      <h1>
        fourteen
      </h1>
      <p>
        <a href="//adventofcode.com/2018/day/14">adventofcode.com/2018/day/14</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <form method="POST" action="/day14part1">
        <textarea id="input1" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/14/input" target="_blank" class="get-input">get input</a>
        <code id="part1"></code>
        <input id="button1" type="button" value="run in client" />
        <input type="submit" value="run on server" />
      </form>
      <hr />
      <h2>
        part 2
      </h2>
      <form method="POST" action="/day14part2">
        <textarea id="input2" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/14/input" target="_blank" class="get-input">get input</a>
        <code id="part2"></code>
        <input id="button2" type="button" value="run in client" />
        <input type="submit" value="run on server" />
      </form>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script src="/funs.js"></script>
    <script defer type="module">
      import day from "/client.js";
      day(funs, 14);
    </script>
    <script>
      const input1 = document.getElementById("input1");
      const part1 = document.getElementById('part1');
            
      input1.addEventListener("change", ev => {
        console.time("part1");
        const data1 = input1.value.trim();
        
        let chars = Number(data1);
        let digits = [3, 7];
        
        let elf1 = 0; // ()
        let elf2 = 1; // []
        
        let val1 = digits[elf1];
        let val2 = digits[elf2];
        
        while (digits.length <= 10 + chars) {
          let moreDigits = val1 + val2;
          
          // too slow!
          //digits = digits.concat((moreDigits + "").split("").map(Number));
          if (moreDigits >= 10) {
            digits.push(1);
          }
          digits.push(moreDigits % 10);

          elf1 = (elf1 + val1 + 1) % digits.length;
          elf2 = (elf2 + val2 + 1) % digits.length;

          
          val1 = digits[elf1];
          val2 = digits[elf2];

          //console.log("elf1:" + elf1 + ":" + val1, "; elf2:" + elf2 + ":" + val2);
          //console.log(digits.join(" "));
        }
        
        let answer = digits.slice(chars, 10 + chars).join("");
        
        part1.innerText = answer;
        console.timeEnd("part1");
      });
      
      const input2 = document.getElementById("input2");
      const part2 = document.getElementById('part2');
      
      input2.addEventListener("change", ev => {
        console.time("part2");
        const data2 = input2.value.trim().split("");
        
        const match = data2.map(Number);
        const mLength = match.length;

        let digits = [3, 7];
        
        let elf1 = 0; // ()
        let elf2 = 1; // []
        
        let val1 = digits[elf1];
        let val2 = digits[elf2];
        
        let safety = 100000000;
        let answer = -1;
        
        while (safety--) {
          let moreDigits = val1 + val2;
          if (moreDigits >= 10) {
            digits.push(1);
          }
          digits.push(moreDigits % 10);
          let dLength = digits.length;

          elf1 = (elf1 + val1 + 1) % dLength;
          elf2 = (elf2 + val2 + 1) % dLength;
          
          val1 = digits[elf1];
          val2 = digits[elf2];
          
          if (mLength <= dLength) {
            let isMatched = match.reduce((found, digit, idx) => {
              return found && (digit === digits[dLength - mLength + idx]);
            }, true);
            if (isMatched) {
              answer = dLength - mLength;
              break;
            } else if (moreDigits >= 10) {
              // look again, one digit further
              isMatched = match.reduce((found, digit, idx) => {
                return found && (digit === digits[dLength - mLength + idx - 1]);
              }, true);
              if (isMatched) {
                answer = dLength - mLength - 1;
                break;
              }
            }
          }
        }
        console.log(safety);
        
        part2.innerText = answer;
        console.timeEnd("part2");
      });
      
    </script>

    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>