<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eleven</title>
    <meta name="description" content="eleven">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/day10" title="previous" rel="prev">⬅</a> 
        <a href="/" title="up">⬆</a> 
        <a href="/day12" title="next" rel="next">➡</a>
      </nav>
      <h1>
        eleven
      </h1>
      <p>
        <a href="//adventofcode.com/2018/day/11">adventofcode.com/2018/day/11</a>
      </p>
    </header>

    <main>
      <h2>
        part 1
      </h2>
      <form method="POST" action="/day11part1">
        <textarea id="input1" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/11/input" target="_blank" class="get-input">get input</a>
        <code id="part1"></code>
        <input id="button1" type="button" value="run in client" />
        <input type="submit" value="run on server" />
      </form>
      <hr />
      <h2>
        part 2
      </h2>
      <form method="POST" action="/day11part2">
        <textarea id="input2" name="input" placeholder="input" cols="40" rows="5"></textarea>
        <a href="https://adventofcode.com/2018/day/11/input" target="_blank" class="get-input">get input</a>
        <code id="part2"></code>
        <input id="button2" type="button" value="run in client" />
        <input type="submit" value="run on server" />
      </form>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script src="/funs.js"></script>
    <script defer type="module">
      import day from "/client.js";
      day(funs, 11);
    </script>
    <script>
      const input1 = document.getElementById("input1");
      const part1 = document.getElementById('part1');
      
      const getCellPower = function (x, y, serial) {
        let rackId = x + 10;
        let power = rackId * y;
        power += serial;
        power = power * rackId;
        
        let str = power + "";
        if (str.length >= 3) {
          let char = str[str.length - 3];
          power = Number(char);
        } else {
          power = 0;
        }
        
        power -= 5;
        
        return power;
      };
      
      input1.addEventListener("change", ev => {
        console.time("part1");
        const data1 = input1.value.trim();
        const serial = Number(data1);
        let grid = [];
        
        for (let y = 1; y <= 300; y++) {
          grid[y] = [];
          for (let x = 1; x <= 300; x++) {
            grid[y][x] = getCellPower(x, y, serial);
          }
        }
        
        let scores = {};
      
        for (let y = 1; y <= 300 - 3; y++) {
          for (let x = 1; x <= 300 - 3; x++) {
            scores[x+","+y] = 0;
            for (let yy = 0; yy < 3; yy++) {
              for (let xx = 0; xx < 3; xx++) {
                scores[x+","+y] += grid[y+yy][x+xx];
              }
            }
          }
        }
        
        let maxx = Object.keys(scores).reduce((max, key) => {
          if (scores[key] > max.val) {
            max.coord = key;
            max.val = scores[key];
          }
          return max;
        }, { coord: "", val: 0 });
        
        console.log(maxx);
        
        part1.innerText = maxx.coord;
        console.timeEnd("part1");
      });
      
      const input2 = document.getElementById("input2");
      const part2 = document.getElementById('part2');
      
      input2.addEventListener("change", ev => {
        console.time("part2");
        const data2 = input2.value.trim();
        /*
        const serial = Number(data2);
        let grid = [];
        
        for (let y = 1; y <= 300; y++) {
          grid[y] = [];
          for (let x = 1; x <= 300; x++) {
            grid[y][x] = getCellPower(x, y, serial);
          }
        }
        
        let scores = {};
        for (let s = 1; s <= 300; s++) {
          for (let y = 1; y <= 300 - s; y++) {
            for (let x = 1; x <= 300 - s; x++) {
              scores[x+","+y+","+s] = 0;
              for (let yy = 0; yy < s; yy++) {
                for (let xx = 0; xx < s; xx++) {
                  scores[x+","+y+","+s] += grid[y+yy][x+xx];
                }
              }
            }
          }
        }
        
        let maxx = Object.keys(scores).reduce((max, key) => {
          if (scores[key] > max.val) {
            max.coord = key;
            max.val = scores[key];
          }
          return max;
        }, { coord: "", val: 0 });
        
        console.log(maxx);
        */
        part2.innerText = "press submit, look in server console";
        console.timeEnd("part2");
      });
      
    </script>

    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>